@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

#colourInput {
  width: 100%;
}

.ui.segments {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ui.horizontal.segments > .ui.segment {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ui.vertical.segments > .ui.segment {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ui.segment.raised.very.padded.container {
  width: 98%;
}

.ui.input {
  display: grid;
  margin: 0 0 1em;
}

#cell_sl_color {
  min-width: 22rem;
}
