@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

#colourInput {
  width: 100%;
}

.centered_content {
  justify-content: center;
  display: flex;
}
.ui {
    font-size: 2rem !important;
}

.no_box {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ui.segment.raised.very.padded.container {
  width: 98%;
}

.ui.input {
  display: grid;
  margin: 0 5em 1em;
  font-size: 2rem !important;
}

.ui.form {
  margin: 0 5em 1em;
  font-size: 2rem !important;
}

#cell_sl_color, .min_width_input {
  min-width: 22rem !important;
}

.ui.small.compact.table.dataTable.no-footer {
  font-size: 1.25rem !important;
}
.ui.form, .ui.form .field .dropdown, .ui.form .field .dropdown .menu > .item {
	font-size: 2rem !important;
}

#DataTables_Table_0 {
  font-size: 1.5rem !important;
}

.ui.table > thead > tr > th {
	background: #009c95 !important;
	color: #fff;
}

.button {
	color: #009c95 !important;
	border: 1px solid #009c95 !important;
}
.green_box {
	border: 1px solid #009c95 !important;
}

.github {
  display: ;
  float: right !important;
  font-size: 80px !important;
}

.toast_message {
  font-size: 1.5rem !important;
	color: #009c95 !important;
	border: 1px solid #009c95 !important;
  text-align: center;
}

#cell_output {
  min-width: 35rem;
}

#download_cell {
  display: block !important;
	color: #009c95 !important;
	border: 1px solid #009c95 !important;
  text-align: center;
  padding: .78571429em 1.5em .78571429em !important;
}
